doctype html
html
    head
        script(src="https://kit.fontawesome.com/22c2eb5b86.js")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
